table {
    width: 100%;
    margin: 5px;
}

p{
    font-weight: bolder;
    font-size: 15pt;
}
.container{
    margin-top: 20px;
    padding: 20px 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 150px;
    border: 1px solid rgba(94, 94, 94, 0.24);
    border-radius: 3px;
}

.btn{
    font-size: 11pt;
    background-color: rgba(32, 32, 172, 0.747);
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    border: none;
}

.btn:hover{
    background-color: rgb(32, 32, 172);
    transition: 0.5s;
}

#input-search{
    padding: 10px;
    width: 400px;
    margin: 10px;
    border: 1px solid rgba(94, 94, 94, 0.24);
    border-radius: 3px;
}