.container{
    background-color: rgba(0, 89, 255, 0.897);
    padding: 18px;
    width: 1004px;
    margin: auto;
    color: white;
    font-size: 22pt;
    text-align: center;
    margin-bottom: 0px;
}